{% extends 'base.html' %}

{% block bodyblock %}
    <div class="container bg-white">
        <br>
        <h3 class="content text-info">Face Recognition Application</h3>

        <p class="content">
            <b>Gender Classification:</b> This app is driven by data and machine learning model.
            As soon as user upload the image, in background it convert into grayscale, crop face, convert into eigen image and
            finally it model to predict. All this functionality dumped in the flask app.
        </p>
        <br>
        <img src="{{ url_for('static',filename='images/002.PNG') }}" alt="" width="600" height="230">
        <br>
        <div align="center">
            <a class="btn btn-outline-primary bg-success text-white" href="{{ url_for('gender') }}">TRY IT NOW</a>
        </div>
<br><br><br><br>
    </div>


{% endblock  %}
